body{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:30px;
}

.paragraphTitle{
    margin-bottom:30px;
}

.buttonBox{
    display:flex;
    gap:100px;
}
.button{
    width:200px;
    height:200px;
    border: 1px solid rgb(49, 39, 39);
    display:inline-block;
}

.button#button1{
    background-color: rgb(255, 58, 130);
}
.button#button2{
    background-color: rgb(247, 134, 175);
}
.button#button3{
    background-color: rgb(186, 160, 170);
}
.button#button4{
    background-color: rgb(92, 91, 92);
}